body {
    margin: 0;
/*  color: #000505; */
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
font-family: 'Open Sans', sans-serif; <-- light = 300 / bold = 600
font-family: 'Comfortaa', cursive;
*/

#contact-bar {
    position: fixed;
    right: 0;
    left: 0;
    padding: 5px 10px;
    background-color: #1DCED8;
    color: #000505;
    font-size: 0.8em;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    border-bottom: 3px solid #F6490D;
}

#contact-bar ul {
    margin: 0;
}

#contact-bar li {
    display: inline;
    list-style: none;
    font-size: 1.3em;
}

#contact-bar li:nth-of-type(2) {
    margin: 0 5px;
}

#contact-bar a {
    text-decoration: none;
    color: #000505;
}

#banner {
    height: 94vh;
    background: url(../img/P1070163.jpg) no-repeat center fixed;
    background-size: cover;
    padding: 20px;
}

h1 {
    font-family: 'Comfortaa', cursive;
    color: #FAF9F0;
    font-size: 1.7em;
    text-transform: uppercase;
    margin: 5%;
    margin-bottom: 0;
}

h4 {
    color: #FAF9F0;
    opacity: 0.8;
}

.banbutton {
    background-color: #FAF9F0;
    padding: 5px 10px;
    border-radius: 3px;
    width: 150px;
    text-decoration: none;
    color: #000505;
    box-shadow: 0px 2px 0 3px #000505;
    text-align: center;
    font-weight: 600;
}

.banbutton:hover {
    background-color: #C6C6BE;
    color: #F6490D;
    text-decoration: none;
}

.banbutton:active {
    box-shadow: 0px -2px 0 3px #000505;
    padding-top: 7px;
    margin-bottom: 18px;
}

#banner .fa-angle-down {
    position: absolute;
    bottom: 10px;
    left: 50%;
    font-size: 1.8em;
    color: #FAF9F0;
}

#banner .fa-angle-down:hover {
    transform: scale(1.5);
    transition: all 0.1s ease-out;
}

#introvid {
    background-color: #262322;
    padding: 20px;
    text-align: center;
}

#aboutme {
    height: fit-content;
    background: url(../img/yomaxi1.jpg) no-repeat center top;
    background-size: cover;
    padding: 50px;
    color: #FAF9F0;
}

h2 {
    font-family: 'Comfortaa', cursive;
    background-color: aqua;
    width: fit-content;
    padding: 15px 30px;
    border-radius: 30px;
    margin: 0 auto;
}

h3 {
    font-size: 2.2em;
    margin: 70px 0 70px 25px;
}

a {
    color: #F6490D;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.categories {
    min-height: 100vh;
    max-height: fit-content;
    border-top: #000249 20px solid;
    text-shadow: 1px 1px 2px #262322; 
}

.cat-text {
    color: #FAF9F0;
    padding: 50px;
}

.cat-text-p-space p:first-of-type {
    margin: 50px 0;
}

#partners {
    text-align: center;
}

#partners img {
    width: 150px;
    margin-top: 50px;
}


#footer {
    margin: 5px 10px;
    font-size: 0.8em;
    text-align: right;
}

@media all and (max-width: 576px) {
    h1 {
        margin-top: 50px;
        text-align: center;
    }

    h1 span:last-of-type{
        padding-left: 15px;
    }

    h4 {
        text-align: center;
    }

    #banbuttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .banbutton {
        margin: 20px 10px;
    }

    #introvid iframe {
        width: 100%;
    }

    #soundsystem {
        background: url(../img/P1070152.jpg) no-repeat center;
        background-size: cover;
    }

    #soundrecording {
        background: url(../img/prisedeson.png) no-repeat center;
        background-size: cover;
    }
    
    #mixing {
        background: url(../img/P1070158.jpg) no-repeat center;
        background-size: cover;
    }
    
    #composing {
        background: url(../img/pexels-photo-96380.jpeg) no-repeat center;
        background-size: cover;
    }
    
    #partners {
        background-color: #000505;
    }

    .part-nologo {
        margin-top: 50px;
    }
}

@media all and (min-width: 577px) {
    h1 {
        display: flex;
        flex-direction: column;
    }

    h1 span:last-of-type{
        padding-left: 5%;
    }

    h4 {
        margin-left: 9%;
    }
  
    #banbuttons {
        display: flex;
        flex-direction: column;
    }

    .banbutton {
        position: absolute;
        margin-right: 10%;
        top: 80px;
    }

    .banbutton:first-of-type {
        right: 23%;
    }

    .banbutton:nth-of-type(2) {
        right: 19%;
        margin-top: 60px;
    }

    .banbutton:nth-of-type(3) {
        right: 14%;
        margin-top: 110px;
    }

    .banbutton:nth-of-type(4) {
        right: 9%;
        margin-top: 160px;
    }

    .banbutton:nth-of-type(5) {
        right: 5%;
        margin-top: 210px;
    }

    .banbutton:last-of-type {
        right: 0;
        margin-top: 260px;
    }

    #introvid iframe {
        width: 560px;
        height: 315px;
    }

    #aboutme p {
        width: 50%;
    }

    .categories {
        background-color: #000505;
        display: flex;
    }

    #ssimg {
        width: 75%;
        background: url(../img/P1070152.jpg) no-repeat center;
        background-size: cover;
    }

    #srimg {
        width: 75%;
        background: url(../img/prisedeson.png) no-repeat center;
        background-size: cover;
    }

    #miximg {
        width: 75%;
        background: url(../img/P1070158.jpg) no-repeat center;
        background-size: cover;
    }

    #compimg {
        width: 75%;
        background: url(../img/pexels-photo-96380.jpeg) no-repeat center;
        background-size: cover;
    }

    #partimg {
        width: 75%;
        background: url(../img/P1070160.jpg) no-repeat center;
        background-size: cover;
    }

    #partgrouped {
        display: flex;
    }

    .partgrouped {
        margin: 0 25px;
        align-self: center;
    }

    .part-nologo {
        margin-top: 200px;
    }
}