/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1em;
    font: inherit;
    vertical-align: baseline;
}

body {
    background-color: red;
    font-family: Prompt;
    color: #666666;
}

#container {
    background-color: #F5F5F5;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-family: Mitr;
    font-size: 4em;
    color: #1D2528;
    text-transform: uppercase;
    margin: -32px 0 38px 0;
}

.full-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Buttons */
button {
    color: #F5F5F5;
    font-family: Prompt;
    font-weight: 300;
    font-size: 1.25em;
    border-radius: 50px;
    line-height: 0.6em;
    margin: 16px 8px;
    transition-property: background-color;
    transition-duration: 400ms;
    transition-timing-function: ease
}
button > img {
    vertical-align: middle;
    height: 20px;
}

.low-button-light {
    border-color: #F5F5F5;
    border-style: solid;
    background: none;
    padding: 14px 30px;
}
.low-button-light:hover {
    background-color: rgba(245, 245, 245, 0.32);

}
.low-button-light:active {
    box-shadow: 0 0 10px #919191;
}
.low-button-dark {
    color: #1D2528;
    border-color: #1D2528;
    border-style: solid;
    background: none;
    padding: 14px 30px;
}
.low-button-dark:hover {
    background-color: rgba(29, 37, 40, 0.32);

}
.low-button-dark:active {
    box-shadow: 0 0 10px #919191;
}
.high-button {
    border-style: none;
    background-color: #D84118;
    padding: 16px 32px;
}
.high-button:hover {
    background-color: #7D1B00;

}
.high-button:active {
    box-shadow: 0 0 10px #919191;
}

/* Header */
#header {
    background-color: black;
    background-image: url(../img/mix.jpg);
    background-position:center center;
    background-size: cover;
    color: #F5F5F5;
    text-align: center;
    height: 100vh;
    z-index: 10;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
}
#header-background {
    width: 100%;
    height: 100%;

}
#header-background div {
    margin-bottom: 10vh;
}
h1 { /* Yoann Carnélos */
    font-family: Aguafina Script;
    font-size: 7.95em;
    font-weight: 400;
    margin-bottom: -46px;
}
h3 { /* Compositeur */
    font-family: Prompt;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.25em;
    letter-spacing: 0.1em;
    margin-bottom: 40px;
}

/* Other sections than Header */
.under-header {
    padding: 64px 128px;
}

#portrait {
    width: 456px;
    height: 456px;
    margin-bottom: -3px;
}

/* A propos */
#about {
    display: flex;
}
#about > div:first-child { /* Autrice photo */
    color: #1D2528;
    margin-right: 32px;
    font-size: 0.9em;
    font-weight: 200;
}

#about > div:first-child a {
    color: #1D2528;
}
#about > div:last-child > p:nth-child(2) {
    margin-top: 22px;
    margin-bottom: 25px;
}

.social-icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    transition-property: filter;
    transition-duration: 400ms;
    transition-timing-function: ease
    }
.social-icon:hover {
    filter: brightness(50%);
}

/* Compositions */
#compositions {
    padding-top: 201px;
    padding-bottom: 199px;
    background-color: #1D2528;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
}
#compositions > h2 {
    color: #F5F5F5;
}
#compositions > div > div {
    display: flex;
    justify-content: space-between;
}
#compositions > div > div:first-child {
    margin-bottom: 32px;
}
#compositions > div > div:last-child {
    justify-content: center;   
}
iframe {
    width: 576px;
    height: 324px;
}

/* Contact */
#contact {
    text-align: center;
}

/* Footer */
footer {
    background-color: black;
    height: 64px;
    font-size: 0.85em;
    font-weight: 300;
    color: #8F8F8F;
}
footer a {
    color: #8F8F8F;
    font-weight: 300;
}